<template>
  <Page>

    <ActionBar>
      <GridLayout columns="1*, 10*, 1*" rows="60" margin="auto">
        <SVGView  height="80" width="30" marginLeft="2" row="0"  col="0"  src="~/assets/images/back.svg"   @tap="$navigateBack()"  />
      <StackLayout marginTop="5" row="0"  col="1" >
         <SearchBar  class="search" borderRadius="10" font-size="20"  hint="Поиск" v-model="searchQuery"  @textChange="onTextChanged"/>
       </StackLayout>
        <SVGView v-if="adressList.length>0" height="70" row="0"  col="2" width="30" src="~/assets/images/done_black_24dp.svg"   @tap="select()"  />
      </GridLayout>
    </ActionBar>

      <GridLayout>
    <ListView    v-for="(item,index) in adressList" :key="index" height="97%" width="100%">
  <v-template >
    <!-- Shows the list item label in the default color and style. -->
    <Label @tap="onItemTap(item.value)" color="black" :text="item.value" />
  </v-template>
</ListView>

      </GridLayout>

  </Page>
    </template>

    <script>
      import axios from 'axios'
    export default {
      data() {
         return {
           product: null,
           items:[],
           searchQuery:'',
           adressList: [],

          };
       },
      computed: {
        message() {
          return "Blank {N}-Vue app";
        }
      },
      mounted() {
         for (let i = 1; i < 21; i++) {
             this.items.push(i)
         }
     },
      methods: {
        select(){
          let adress = this.searchQuery
          this.$store.commit('addAdress', {adress})

          this.$navigateBack();
        },
        onItemTap(val){
        //    console.log(val)
          this.searchQuery=val
        },

        onTextChanged(){
        //  console.log(this.searchQuery)
let val = this.searchQuery
//console.log(val)
          const accaunt =   axios.post(`https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/address`,
            {query: val},
            {
          headers: {
          'Authorization': `Token af83c854799006109012220fe4042f56ac66b3b9`
          }
          })
          .then(response => {
       this.adressList=response.data.suggestions
           })
         .catch(error => {
    //console.log(error.response)
})
        //   console.log( this.adressList)



        }
      }
    };
    </script>


    <style scoped lang="scss">
    </style>
