<template>
  <Page @loaded="auth">

    <ActionBar  flat="true" >
<GridLayout columns="1*, 10*" rows="70" margin="auto">
  <SVGView height="80" marginBottom="10"  row="0"  col="0" width="30" src="~/assets/images/back.svg"   @tap="$navigateBack()"  />
<StackLayout row="0"  col="1" marginLeft="71">
   <SVGView   height="180px" src="~/assets/images/logo.svg"    />
 </StackLayout>
</GridLayout>
    </ActionBar>
    <GridLayout  width="100%" height="100%" columns="*"
      rows="*,auto">
  <ScrollView  col="0" row="0" orientation="vertical">
    <StackLayout orientation="vertical" >
      <Label  margin="10"  fontSize="18" class="font-weight-bold"
             text="Корзина"></Label>

      <GridLayout margin="10"  v-for="(item,index) in orders" columns="*,*,*,*,*,*" rows="*,*,*">

        <StackLayout   row="0" col="0"  @tap="showDetail(item.id)"  class="album-image" height="100"
            width="100" :backgroundImage="item.src"
            borderRadius="5">
        </StackLayout>
        <StackLayout marginLeft="5" row="0" col="1" orientation="vertical" >
        <Label  fontSize="12" class="font-weight-bold"
               :text="item.title"></Label>
        <Label   fontSize="12" class="font-weight-bold"
               :text="item.price*item.count+' руб.'"></Label>
            </StackLayout>
          <Button  class="ElborsoButton" row="0" col="2" text="-"  @tap="minus(index, item.count,item.price)"/>
            <StackLayout row="0" col="3" margin="auto" orientation="vertical">
          <Label width="20" marginTop="35"  fontSize="12" class=""
                 :text="item.count"></Label>
                   </StackLayout>

          <Button  class="ElborsoButton" row="0" col="4" text="+" @tap="plus(index, item.count,item.price)" />
          <Button  @tap="removeTodo(item.id)" class="new" color="white" row="0" col="5" text="x" />
      </GridLayout>

      <Label  margin="10" marginTop="15"  fontSize="18" class="font-weight-bold"
             text="Данные клиента"></Label>

<TextField margin="15" fontSize="20"  v-model="name"   hint="ФИО" />
<TextField margin="15" @tap="showAdress()" editable="false" fontSize="20" :text="adressStore" hint="Адрес"/>
<TextField margin="15"  fontSize="20"  v-model="phone" hint="Номер телефона" keyboardType="phone" maxLength="11"/>
<Label v-if="invalid" color="#db1010" margin="10" marginTop="15" class="" fontSize="14"
       text="Ошибка в номере"></Label>



<Label v-bind:class="{'old-price': sumBonus}" margin="10" marginTop="15"  fontSize="20" class=""
       :text="'Итого: '+sumCart+' руб.'"></Label>
 <Label v-if="sumBonus"  margin="10" marginTop="15"  fontSize="14" class=""
        :text="'-'+bonus+' бонусов'"></Label>
<Label v-if="sumBonus"  margin="10" marginTop="15"  fontSize="14" class=""
       :text="'Итого: '+sumBonus+' руб.'"></Label>

      <!-- <StackLayout orientation="horizontal">
       <check-box editable="false"   />
       <Label  margin="10" marginTop="15" color="#777" fontSize="14" class=""
            text="Запомнить"></Label>
       </StackLayout>-->


  <StackLayout orientation="horizontal">
<Switch checked="true" />
<Label  margin="10" marginTop="15" color="#777" fontSize="14" class=""
       text="Политика конфиденциальности"></Label>
  </StackLayout>

<Button  class="ElborsoButton" row="3" col="0" color="white"  text="Купить" @tap="post()" />
<Button v-if="bonus>0" class="ElborsoButton2" row="3" col="0" color="black"  :text="'Списать '+bonus+' бонусов'" @tap="applyBonus()" />
<Label color="#28a745" margin="10" marginTop="15" class="text-center" fontSize="14"
       text="Бесплатная доставка СДЭК• Оплата после осмотра"></Label>
  <TextView editable="false">
       <FormattedString>
         <Span fontSize="14" text="При регистрации на сайте Вам будут доступны приветственные 100 бонусов, которые Вы можете использовать при покупке. А также система лояльности." />
       </FormattedString>
</TextView>

    </StackLayout>
</ScrollView>
 <StackLayout col="0" row="1"
  backgroundColor="#FFFFFF" >
  <GridLayout rows="*" columns="*,*,*,*,*" class="text-center">

    <Label row="0"  col="0" @tap="showHome()"  textWrap="true" class="text-center">
        <FormattedString>
          <Span class="mdi"   :text="'home' | fonticon" />
          <Span fontSize="10"  text="\n Главная"  />
      </FormattedString>
   </Label>
    <Label row="0" col="1" @tap="showSearch()" textWrap="true" class="text-center">
        <FormattedString>
          <Span class="mdi"    :text="'search' | fonticon" />
          <Span fontSize="10"  text="\n Поиск"  />
      </FormattedString>
    </Label>
      <Label row="0" col="2" color="#db1010"  textWrap="true" class="text-center">
          <FormattedString>
            <Span class="mdi"   :text="'shopping_cart' | fonticon" />
          <Span fontSize="10"  :text="'\n Корзина('+counts+')'"  />
        </FormattedString>
    </Label>
    <Label row="0" col="3" @tap="showFavorite()" textWrap="true" class="text-center">
        <FormattedString>
          <Span class="mdi"   :text="'favorite' | fonticon" />
          <Span fontSize="10" :text="'\n Избранное('+countWishlist+')'"  />
      </FormattedString>
    </Label>
    <Label row="0" col="4" @tap="showLogin()" textWrap="true" class="text-center">
        <FormattedString>
          <Span class="mdi"   :text="'account_circle' | fonticon" />
          <Span fontSize="10"  text="\n Профиль"  />
      </FormattedString>
   </Label>

  </GridLayout>
</StackLayout>
      </GridLayout>
  </Page>
    </template>
    <script>
    import axios from 'axios'
    import Detail from './Detail'
    import Order from './Order'
    import Adress from './Adress'
    import Home from './Home'
    import Favorite from './Favorite'
    import Search from './Search'
      import Login from './Login'

    import ModalComponent from "./Modal";

      export default {
        data() {
           return {
             catalog: null,
             textFieldValue: '2',
             name: '',
             adress: '',
             phone: '',
             rememberCheck: false,
             isButtonDisabled: false,
               selected: '7',
                 sumBonus:0,
                   bonus: 0,
                     invalid: false,
                     cpf: ''
            };
         },
        computed: {
          counts() {
            let coun=0;
            for (let i = 0; i < this.$store.state.list.length; i++) {
              coun +=  this.$store.state.list[i].count
              }
                return coun;
          },
          countWishlist() {
            let coun=0;
            for (let i = 0; i < this.$store.state.wishlist.length; i++) {
              coun +=  this.$store.state.wishlist[i].count
              }
                return coun;
          },

          sumCart () {
            if(this.$store.state.sum>0){
              this.isButtonDisabled=false
            }else{
              this.isButtonDisabled=true
            }
            return this.$store.state.sum
          },
        orders() {
         return this.$store.state.list
       },
           adressStore() {
          //   console.log('adress')
      //       console.log(this.$store.state)
            return this.$store.state.adress
          },

        },
        methods: {
          applyBonus(){
            if(this.bonus<=this.$store.state.sum){
              this.sumBonus=this.$store.state.sum-this.bonus
            }else{
              this.bonus=this.bonus-this.$store.state.sum
            }
          },
          auth(){
            if(this.$store.state.token){

              let token =this.$store.state.token
              const accaunt =   axios.get(`https://api.elborso.ru/accaunt?&token=`+token)
              .then(response => {
              //  console.log(response.data.bonus)
               this.bonus=response.data.bonus
               this.phone=response.data.phone
               })
            }
          },
          showLogin(){
            this.$navigateTo(Login);
          },
          showSearch(){
            this.$navigateTo(Search);
          },
          showFavorite() {
              this.$navigateTo(Favorite);
          },
          showHome() {
              this.$navigateTo(Home);
          },
          minus(index, countDefault, price){
           if(countDefault>1){
              let number=countDefault-1
              let count=number;
            //  this.price=count*this.order.price
              this.$store.commit('addCount', {index,count})
            }
          },
          plus(index, countDefault, price){
        let number=countDefault+1;
          let count=number;
          //  this.price=number*price
            this.$store.commit('addCount', {index,count})  /*  */
          },

          removeTodo(todo) {
            this.$store.commit('remove', {todo})
          },

                  checkToken() {
                     this.$store.commit("loadFromStorage");


                   },
                showDetail(id) {
                    this.$navigateTo(Detail, {
                        animated: true,
                      /*  transition: {
                            name: "slideLeft",
                            duration: 250,
                            curve: "easeIn"
                        }*/
                        props: {
                           id: id,
                         }
                    });
                },

                showAdress() {
          /*        var remember={"name":this.name,"phone":this.phone,"adress":this.adressStore}
                  this.$store.commit('remember', remember)
*/
                    this.$navigateTo(Adress);
                },


      /**/          async post(){
     //console.log('phonecod');
                if(this.phone.length!=11||this.phone[0]=='+' ){
                    this.invalid=true
                    console.log('phonecod');
                  }else{
                    this.invalid=false
//console.log('ss')



                    var order = this.$store.state.list.filter(Boolean)
                    if(this.sumBonus!=0){
                      var sum = this.sumBonus;
                    }else{
                      var sum = this.$store.state.sum;
                    }
                      var bonus=this.bonus
                // var phone =this.phone.replace(/[^\d]/g, '')
                    //  console.log(this.phone)
                  //    console.log(this.selected+''+phone)
               var phonecod = this.phone.substring(1);


//запоминаем
/*var remember={"name":this.name,"phone":this.phone,"adress":this.adressStore}
this.$store.commit('remember', remember)*/



                var client={"name":this.name,"phone":this.selected+phonecod,"adress":this.adressStore}


                this.$store.commit('addDatacliet', {client})

          if(this.$store.state.remember==false){
             this.$showModal(ModalComponent).then(
                 data => {
                   if(data=='Да'){
                  //   console.log(data)
                     this.$store.commit('remember')
                     this.postAxios(client,order,sum,bonus)
                  //   console.log('ss')
                }
                  if(data=='Нет'){
                    this.postAxios(client,order,sum,bonus)
                  }
                //   this.$store.commit('remember', data)
                 }
               );
          }else{
             this.postAxios(client,order,sum,bonus)
          }

//.then(response => {this.postAxios(client,order,sum,bonus)}

//console.log(modal);

//console.log(client)
   /*      const mountains=  await axios
                  .post('https://api.elborso.ru/order',{ client: client, order,sum: sum, bonus: bonus})

                  this.$store.state.list=[]
                  this.$store.state.sum=0

                  this.$navigateTo(Order, {
                      animated: true,

                      props: {
                         order: mountains,
                         sum: sum
                       }
                  });

*/


                  }
                },
              async  postAxios(client,order,sum,bonus){

                const mountains=  await axios
                               .post('https://api.elborso.ru/order',{ client: client, order,sum: sum, bonus: bonus})

                               this.$store.state.list=[]
                               this.$store.state.sum=0

                               this.$navigateTo(Order, {
                                   animated: true,

                                   props: {
                                      order: mountains,
                                      sum: sum
                                    }
                               });
                               this.$store.commit('clearCart')
                }


            },

        mounted() {
         axios
           .get('https://api.elborso.ru/catalog')
           .then(response => ( this.catalog = response.data));
           this.name= this.$store.state.name
           this.phone= this.$store.state.phone
       }

      };
    </script>

    <style scoped lang="scss">


        .album-image{
           background-size: cover;
        }

    </style>
