<template>
  <Page>

    <ActionBar  flat="true" >
<GridLayout columns="1*, 10*" rows="70" margin="auto">
  <SVGView height="80" marginBottom="10"  row="0"  col="0" width="30" src="~/assets/images/back.svg"   @tap="$navigateBack()"  />
<StackLayout row="0"  col="1" marginLeft="71">
   <SVGView   height="180px" src="~/assets/images/logo.svg"    />
 </StackLayout>
</GridLayout>
    </ActionBar>

    <GridLayout orientation="vertical" width="100%" height="100%" columns="*"
      rows="*,auto">


  <ScrollView ref="scrollLayout" scrollBarIndicatorVisible="false" orientation="vertical" col="0" row="0"  minHeight="100%" @scroll="scroll()">
     <StackLayout orientation="vertical" marginLeft="2">
       <Label   fontSize="24" color="#000" class="text-center"
            :text="title"></Label>
<FlexboxLayout flexWrap="wrap"   v-if="catalog" margin="auto" >

  <StackLayout width="48%"  height="auto"  margin="4"  v-for="item in catalog">

   <AbsoluteLayout  >
  <StackLayout  @tap="showDetail(item.id)" height="280" class="album-image"
      width="185" :backgroundImage="item.src"
      borderRadius="5">
  </StackLayout>
  <Label left="145" top="240" @tap="addWhislist(item.id,item.category,item.title,item.price,1,item.src)" textWrap="true" class="favorite-img" margin="4" >
      <FormattedString>
        <Span fontSize="20" class="mdi" :color="colorFav(item.id)"  :text="'favorite' | fonticon" />
    </FormattedString>
  </Label>
  </AbsoluteLayout>


  <Label v-if="item.availability==1" fontSize="12" class="font-weight-bold"
         color="#28a745" text="в наличии"></Label>
   <Label v-else fontSize="12" class="font-weight-bold"
          color="#db1010" text="нет в наличии"></Label>
  <StackLayout orientation="horizontal"  >
                <Label fontSize="14" class="font-weight-bold"
                   :text="item.price+' руб.'"></Label>
                    <Label fontSize="12" v-if="item.priceOld" marginLeft="10" textDecoration="line-through"  class="font-weight-bold old-price"
                        color="red" :text="item.priceOld+' руб.'"></Label>
          </StackLayout>

                <Label fontSize="14" color="#999999" :text="item.title"></Label>

                  <Button width="100%" class="ElborsoButton" text="В корзину" @tap="addTodo(item.id,item.category,item.title,item.price,1,item.src)" />

</StackLayout>
</FlexboxLayout></StackLayout>
 </ScrollView>
 <StackLayout col="0" row="1"
  backgroundColor="#FFFFFF" class="text-center">
  <GridLayout rows="*" columns="*,*,*,*,*">
      <Label row="0" @tap="showHome()"  col="0" textWrap="true" class="text-center">
          <FormattedString>
            <Span class="mdi"   :text="'home' | fonticon" />
            <Span fontSize="10" text="\n Главная"  />
        </FormattedString>
     </Label>
      <Label row="0" col="1" @tap="showSearch()" textWrap="true" class="text-center">
          <FormattedString>
            <Span class="mdi"   :text="'search' | fonticon" />
            <Span fontSize="10" text="\n Поиск"  />
        </FormattedString>
      </Label>
        <Label row="0" col="2" @tap="showCart()" textWrap="true" class="text-center">
            <FormattedString>
              <Span class="mdi"   :text="'shopping_cart' | fonticon" />
            <Span fontSize="10" :text="'\n Корзина('+count+')'"  />
          </FormattedString>
      </Label>
      <Label row="0" col="3" @tap="showFavorite()" textWrap="true" class="text-center">
          <FormattedString>
            <Span class="mdi"   :text="'favorite' | fonticon" />
            <Span fontSize="10" :text="'\n Избранное('+countWishlist+')'" />
        </FormattedString>
      </Label>
      <Label row="0" col="4"  @tap="showLogin()" textWrap="true" class="text-center">
          <FormattedString>
            <Span class="mdi"   :text="'account_circle' | fonticon" />
            <Span fontSize="10" text="\n Профиль"  />
        </FormattedString>
     </Label>
  </GridLayout>
</StackLayout>
   <ActivityIndicator  rowSpan="3" :busy="processing"></ActivityIndicator>
      </GridLayout>
  </Page>
    </template>
    <script>
    import axios from 'axios'
    import Detail from './Detail'
    import Cart from './Cart'
    import Home from './Home'
    import Search from './Search'
    import Favorite from './Favorite'
      import Login from './Login'

      export default {
            props: ['param','title','scrollparam'],
        data() {
           return {
             catalog: null,
             page: 0,
             processing: false
            };
         },
        computed: {
          countWishlist() {
            let coun=0;
            for (let i = 0; i < this.$store.state.wishlist.length; i++) {
              coun +=  this.$store.state.wishlist[i].count
              }
                return coun;
          },
          count() {
            let coun=0;
            for (let i = 0; i < this.$store.state.list.length; i++) {
              coun +=  this.$store.state.list[i].count
              }
                return coun;
          }
        },
        methods: {
          showLogin(){
            this.$navigateTo(Login);
          },
          showFavorite() {
              this.$navigateTo(Favorite);
          },
          showSearch(){
            this.$navigateTo(Search);
          },
          colorFav(id){
            //console.log(id)
            let search = id;
            let cityId = this.$store.state.wishlist.findIndex(city => city.id === search)

            if(cityId!=-1){
              return '#f20d0d';
            }else{
              return 'black';
            }
          },
          addWhislist (id,category,title,price,count,src) {
            let search = id;
            let cityId = this.$store.state.wishlist.findIndex(city => city.id === search)
            if(cityId!=-1){
          //   this.color='black'
          //   this.stroke='black'
            let todo=id
             this.$store.commit('removeWishlist', {todo})

            }else{
            //  this.color='#f20d0d'
          //    this.stroke='#f20d0d'
              this.$store.commit('addWishlist', {id,category,title,price,count,src})

            }

          },
          showHome() {
              this.$navigateTo(Home);
          },
          showCart() {
              this.$navigateTo(Cart);
          },
          addTodo (id,category,title,price,count,src) {
            this.$store.commit('add', {id,category,title,price,count,src})
          },
            scroll(){

              if(this.scrollparam!=false){
                if(this.$refs.scrollLayout.nativeView.verticalOffset==this.$refs.scrollLayout.nativeView.scrollableHeight){
                  this.page++;
                  this.processing=true
                  axios
                    .get('https://api.elborso.ru/catalog'+this.param+'&page='+this.page)
                    .then(response => {
                        if(response.data!=null){
                          this.catalog = this.catalog.concat(response.data)
                          this.processing=false
                          //console.log(response)
                        }else{
                          this.processing=false
                        }
                    });

                }
              }

            },
            showDetail(id) {
                this.$navigateTo(Detail, {
                    props: {
                       id: id,
                     }
                });
            },

                increaseEngine() {
                this.$store.commit("increaseEngines");
            },
              addTodo (id,category,title,price,count,src) {
                this.$store.commit('add', {id,category,title,price,count,src})
              },

            },

        mounted() {
//console.log(this.page)
            axios
              .get('https://api.elborso.ru/catalog'+this.param+'&page='+this.page)
              .then(response => ( this.catalog = response.data));

          }


      };
    </script>

    <style scoped lang="scss">


        .album-image{
           background-size: cover;
        }

    </style>
