<template>
  <Page>
    <ActionBar>
      <GridLayout columns="1*, 10*" rows="70" margin="auto">
        <SVGView height="80" marginBottom="10"  row="0"  col="0" width="30" src="~/assets/images/back.svg"   @tap="$navigateBack()"  />
      <StackLayout row="0"  col="1" marginLeft="71">
         <SVGView   height="180px" src="~/assets/images/logo.svg"    />
       </StackLayout>
        <SVGView height="80" marginBottom="10" marginRight="10"  row="0"  col="2" width="30" src="~/assets/images/share_black_24dp.svg"   @tap="share()"  />
      </GridLayout>
    </ActionBar>
    <GridLayout orientation="vertical" width="100%" height="100%" columns="*"
      rows="*,60,auto">
      <StackLayout col="0" row="0">
    <ScrollView orientation="vertical" >



      <StackLayout v-if="product"  >

        <GridLayout height="600" >

          <Carousel  v-if="product"  pageChanged="myChangeEvent" pageTapped="mySelectedEvent" indicatorColor="red" finite="true" bounce="false" showIndicator="true" verticalAlignment="top"        android:indicatorAnimation="worm" color="black">

              <CarouselItem id="slide1" v-for="image in product.originals">

                <Image  (tap)="onButtonTap()"  :src="image.src"></Image>

              </CarouselItem>

          </Carousel>

               </GridLayout>

<StackLayout orientation="horizontal" marginLeft="10"  >
  <GridLayout columns="*,auto" rows="*">
    <StackLayout row="0" col="0"  orientation="horizontal"   >
<Label v-if="product.category=='zhenskie_sumki'" fontSize="24"  class="font-weight-bold" color="black" text="Женская сумка"></Label>
<Label v-if="product.category=='muzhskie_sumki'" fontSize="24"   class="font-weight-bold" color="black" text="Мужская сумка"></Label>
            <Label fontSize="24" marginLeft="5"  class="font-weight-bold" color="black" :text="product.title"></Label>
</StackLayout>

            <Label row="0" col="1"  @tap="addWhislist(product.id,product.category,product.title,product.price,1,product.src)" textWrap="true" class="favorite-img" marginTop="4" marginRight="20" >
                <FormattedString>
                  <Span fontSize="20" class="mdi" :color="colorFav(product.id)"  :text="'favorite' | fonticon" />
              </FormattedString>
            </Label>
</GridLayout>
</StackLayout>
            <StackLayout orientation="horizontal"  >
            <Label fontSize="24" marginLeft="10"  class="font-weight-bold"
                 :text="product.price+' руб.'"></Label>

            <Label fontSize="16" v-if="product.priceOld" marginLeft="10" textDecoration="line-through"  class="font-weight-bold old-price"
                color="red" :text="product.priceOld+' руб.'"></Label>

                <Label v-if="product.new"  marginLeft="10" fontSize="12" class="font-weight-bold new badge"
                        text="Новинка"></Label>
                 <Label v-if="product.hit" marginLeft="10" fontSize="12" class="font-weight-bold hit badge"
                         text="Хит"></Label>
</StackLayout>

<StackLayout marginLeft="10"  orientation="horizontal"  v-if="product.availability==1"  >
  <Label fontSize="12"
         color="#28a745" text="в наличии"></Label>
   <Label fontSize="12"
          color="#28a745" text=", на складе "></Label>
    <Label fontSize="12"
           color="#28a745" :text="product.count+'  шт.'"></Label>
  </StackLayout>

  <Label v-else fontSize="12" marginLeft="10"
         color="#db1010" text="нет в наличии"></Label>


                <Label fontSize="14" marginLeft="10"
                    color="#999999" :text="'Арт.:'+product.art"></Label>


                    <Label fontSize="12" marginLeft="10"
                        color="#999999" :text="'Доставка: '+product.dateDelivery.startday+' - '+product.dateDelivery.endday+' '+getMounth(product.dateDelivery.month)"></Label>

  <Label fontSize="20" marginLeft="10" marginTop="10" class="font-weight-bold" color="black" text="О товаре"></Label>
          <TextView editable="false">
        <FormattedString>
          <Span fontSize="14" :text="product.descript" />

        </FormattedString>
      </TextView>
        <StackLayout v-if="product.сharacteristics">
          <Label fontSize="20" marginLeft="10" marginTop="10" class="font-weight-bold" color="black" text="Характеристики"></Label>
  <StackLayout  orientation="horizontal"  v-for="(сharacteristic, index) in product.сharacteristics">
        <Label fontSize="14" marginLeft="10" marginTop="10"  color="black" class="font-weight-bold" :text="сharacteristic.name+': '"></Label>
  <Label fontSize="14" marginLeft="10" marginTop="10"  color="black" :text="сharacteristic.body"></Label>
  </StackLayout>
  </StackLayout>

  <StackLayout v-if="product.reviews">
    <Label fontSize="20" marginLeft="10" marginTop="10" class="font-weight-bold" color="black" text="Отзывы"></Label>
<StackLayout  marginTop="10" orientation="horizontal"  v-for="(review, index) in product.reviews">

  <StackLayout>
    <SVGView row="0" col="4" (tap)="onButtonTap()" height="60%" src="~/assets/images/comment.svg"   />
  <Label fontSize="14" marginLeft="10"  color="black" class="font-weight-bold" :text="review.name"></Label>
<Label fontSize="10" marginLeft="10"  color="black" :text="review.date"></Label>

</StackLayout>
<TextView editable="false">
<FormattedString>
<Span fontSize="14" :text="review.body" />
</FormattedString>
</TextView>
</StackLayout>


</StackLayout>


  </StackLayout >


          </ScrollView>
             </StackLayout >
  <StackLayout  col="0" row="1">
    <GridLayout rows="*" columns="2*, 3*">
       <Button col="0" row="0" class="ElborsoButton2" text="Купить сейчас" @tap="buynow(product.id,product.category,product.title,product.price,1,product.src)" />
      <Button col="2" row="0" class="ElborsoButton" text="В корзину" @tap="addTodo(product.id,product.category,product.title,product.price,1,product.src)" />


   </GridLayout>
   </StackLayout >
   <StackLayout col="0" row="2"
      class="text-center">
      <GridLayout rows="*" columns="*,*,*,*,*">
          <Label row="0"  col="0" @tap="showHome()" textWrap="true" class="text-center">
              <FormattedString>
                <Span class="mdi"   :text="'home' | fonticon" />
                <Span fontSize="10" text="\n Главная"  />
            </FormattedString>
         </Label>
          <Label row="0" col="1" @tap="showSearch()" textWrap="true" class="text-center">
              <FormattedString>
                <Span class="mdi"   :text="'search' | fonticon" />
                <Span fontSize="10" text="\n Поиск"  />
            </FormattedString>
          </Label>
            <Label row="0" col="2" @tap="showCart()" textWrap="true" class="text-center">
                <FormattedString>
                  <Span class="mdi"   :text="'shopping_cart' | fonticon" />
                  <Span fontSize="10" :text="'\n Корзина('+count+')'"  />
              </FormattedString>
          </Label>
          <Label row="0" col="3" @tap="showFavorite()" textWrap="true" class="text-center">
              <FormattedString>
                <Span class="mdi"   :text="'favorite' | fonticon" />
                <Span fontSize="10" :text="'\n Избранное('+countWishlist+')'"  />
            </FormattedString>
          </Label>
          <Label   @tap="showLogin()" row="0" col="4" textWrap="true" class="text-center">
              <FormattedString>
                <Span class="mdi"   :text="'account_circle' | fonticon" />
                <Span fontSize="10" text="\n Профиль"  />
            </FormattedString>
         </Label>
      </GridLayout>
  </StackLayout>
          </GridLayout>

  </Page>
    </template>

    <script>
      import axios from 'axios'
    const carousel = require('nativescript-carousel');
    //const SocialShare = require("@nativescript/social-share");
    import { Platform } from '@nativescript/core';
const SocialShare = require("@nativescript/social-share");

    import Cart from './Cart'
    import Home from './Home'
    import Search from './Search'
    import Favorite from './Favorite'
    import Login from './Login'

    export default {
      data() {
         return {
           product: null
          };
       },
      props: ['id'],
      computed: {
        countWishlist() {
          let coun=0;
          for (let i = 0; i < this.$store.state.wishlist.length; i++) {
            coun +=  this.$store.state.wishlist[i].count
            }
              return coun;
        },
        count() {
          let coun=0;
          for (let i = 0; i < this.$store.state.list.length; i++) {
            coun +=  this.$store.state.list[i].count
            }
              return coun;
        }
      },
      mounted() {
      //  console.log(this.id)
       axios
         .get('https://api.elborso.ru/catalog?id='+this.id)
         .then(response => ( this.product = response.data,console.log(response)));
     },
      methods: {
        share(){
      //    console.log(this)
        SocialShare.shareUrl('https://elborso.ru/catalog/'+this.product.category+'/'+this.product.title+'/'+this.product.id, this.product.title, 'Поделиться');
        },
        buynow(id,category,title,price,count,src) {
          this.$store.commit('add', {id,category,title,price,count,src})
         this.$navigateTo(Cart);
       },
        showFavorite() {
            this.$navigateTo(Favorite);
        },
        showSearch(){
          this.$navigateTo(Search);
        },
        colorFav(id){
          //console.log(id)
          let search = id;
          let cityId = this.$store.state.wishlist.findIndex(city => city.id === search)

          if(cityId!=-1){
            return '#f20d0d';
          }else{
            return 'black';
          }
        },
        addWhislist (id,category,title,price,count,src) {
          let search = id;
          let cityId = this.$store.state.wishlist.findIndex(city => city.id === search)
          if(cityId!=-1){
          let todo=id
           this.$store.commit('removeWishlist', {todo})

          }else{
            this.$store.commit('addWishlist', {id,category,title,price,count,src})

          }

        },
        showLogin(){
          this.$navigateTo(Login);
        },
        showHome() {
            this.$navigateTo(Home);
        },
        showCart() {
            this.$navigateTo(Cart);
        },
        addTodo (id,category,title,price,count,src) {
          this.$store.commit('add', {id,category,title,price,count,src})
        },

        getMounth(mounth){
          switch (mounth) {
          case 'September':
            return ( 'Сентября' );
            break;
          case 'October':
            return( 'Октября' );
            break;
          case 'November':
            return( 'Ноября' );
            break;
          case 'December':
            return( 'Декабря' );
            break;
          case 'January':
            return( 'Января' );
            break;
          case 'February':
            return( 'Февраля' );
            break;
          case 'March':
            return( 'Марта' );
            break;
          case 'April':
            return( 'Апреля' );
            break;
          case 'May':
            return( 'Мая' );
            break;
          case 'June':
            return( 'Июня' );
            break;
          case 'July':
            return( 'Июля' );
            break;
          case 'August':
            return( 'Августа' );
            break;
        }
        }
      }
    };
    </script>


    <style scoped lang="scss">


        .album-image{
           background-size: cover;
        }

    </style>
