<template>
  <Page >

    <ActionBar  flat="true" >
<GridLayout columns="1*, 10*" rows="70" margin="auto">
  <SVGView height="80" marginBottom="10"  row="0"  col="0" width="30" src="~/assets/images/back.svg"   @tap="$navigateBack()"  />
<StackLayout row="0"  col="1" marginLeft="71">
   <SVGView   height="180px" src="~/assets/images/logo.svg"    />
 </StackLayout>
</GridLayout>
    </ActionBar>
    <GridLayout  width="100%" height="100%" columns="*"
      rows="*,auto">
  <ScrollView  col="0" row="0" orientation="vertical">
    <StackLayout orientation="vertical" >
      <Label  margin="10"  fontSize="18" class="font-weight-bold"
             text="Избранное"></Label>

      <GridLayout margin="10"  v-for="(item,index) in orders" columns="*,*,*,60" rows="*">

        <StackLayout   row="0" col="0"  @tap="showDetail(item.id)"  class="album-image" height="100"
            width="100" :backgroundImage="item.src"
            borderRadius="5">
        </StackLayout>
        <StackLayout marginLeft="5" row="0" col="1" orientation="vertical" >
        <Label  fontSize="12" class="font-weight-bold"
               :text="item.title"></Label>
        <Label   fontSize="12" class="font-weight-bold"
               :text="item.price*item.count+' руб.'"></Label>
            </StackLayout>
          <Button  class="ElborsoButton w-100" row="0" col="2" text="В корзину"  @tap="addTodo(item.id,item.category,item.title,item.price,1,item.src)"/>


          <Button  @tap="removeWishlist(item.id)" class="new" color="white" row="0" col="3" text="x" />
      </GridLayout>






      <!-- <StackLayout orientation="horizontal">
       <check-box editable="false"   />
       <Label  margin="10" marginTop="15" color="#777" fontSize="14" class=""
            text="Запомнить"></Label>
       </StackLayout>-->









    </StackLayout>
</ScrollView>
 <StackLayout col="0" row="1"
  backgroundColor="#FFFFFF" >
  <GridLayout rows="*" columns="*,*,*,*,*" class="text-center">

    <Label row="0"  col="0" @tap="showHome()"  textWrap="true" class="text-center">
        <FormattedString>
          <Span class="mdi"   :text="'home' | fonticon" />
          <Span fontSize="10" text="\n Главная"  />
      </FormattedString>
   </Label>
    <Label row="0" col="1" @tap="showSearch()" textWrap="true" class="text-center">
        <FormattedString>
          <Span class="mdi"   :text="'search' | fonticon" />
          <Span fontSize="10" text="\n Поиск"  />
      </FormattedString>
    </Label>
      <Label row="0" col="2" @tap="showCart()" textWrap="true" class="text-center">
          <FormattedString>
            <Span class="mdi"   :text="'shopping_cart' | fonticon" />
          <Span fontSize="10" :text="'\n Корзина('+count+')'"  />
        </FormattedString>
    </Label>
    <Label row="0" col="3" color="#db1010"  textWrap="true" class="text-center">
        <FormattedString>
          <Span class="mdi"   :text="'favorite' | fonticon" />
          <Span fontSize="10" :text="'\n Избранное('+countWishlist+')'"  />
      </FormattedString>
    </Label>
    <Label row="0" col="4"   @tap="showLogin()"  textWrap="true" class="text-center">
        <FormattedString>
          <Span class="mdi"   :text="'account_circle' | fonticon" />
          <Span  fontSize="10" text="\n Профиль"  />
      </FormattedString>
   </Label>

  </GridLayout>
</StackLayout>
      </GridLayout>
  </Page>
    </template>
    <script>
    import axios from 'axios'
    import Detail from './Detail'
    import Order from './Order'
    import Adress from './Adress'
    import Home from './Home'
    import Cart from './Cart'
      import Search from './Search'
      import Login from './Login'

    import ModalComponent from "./Modal";

      export default {
        data() {
           return {
             catalog: null,
            };
         },
        computed: {
          count() {
            let coun=0;
            for (let i = 0; i < this.$store.state.list.length; i++) {
              coun +=  this.$store.state.list[i].count
              }
                return coun;
          },
          countWishlist() {
            let coun=0;
            for (let i = 0; i < this.$store.state.wishlist.length; i++) {
              coun +=  this.$store.state.wishlist[i].count
              }
                return coun;
          },
        orders() {
         return this.$store.state.wishlist
       }


        },
        methods: {
          showLogin(){
            this.$navigateTo(Login);
          },
          showSearch(){
            this.$navigateTo(Search);
          },
          addTodo (id,category,title,price,count,src) {
            this.$store.commit('add', {id,category,title,price,count,src})

            let todo=id
            this.$store.commit('removeWishlist', {todo})
          },

          removeWishlist(todo) {
          //  console.log(todo)
          this.$store.commit('removeWishlist', {todo})
          },
          showCart() {
              this.$navigateTo(Cart);
          },

          showHome() {
              this.$navigateTo(Home);
          },


                  checkToken() {
                     this.$store.commit("loadFromStorage");
                   },
                showDetail(id) {
                    this.$navigateTo(Detail, {
                        animated: true,
                      /*  transition: {
                            name: "slideLeft",
                            duration: 250,
                            curve: "easeIn"
                        }*/
                        props: {
                           id: id,
                         }
                    });
                }






            }

      };
    </script>

    <style scoped lang="scss">


        .album-image{
           background-size: cover;
        }

    </style>
