<template>
    <Page statusBarStyle="light" @loaded="checkToken">
        <ActionBar >

            <SVGView src="~/assets/images/logo.svg"  height="180px"  />
        </ActionBar>

        <GridLayout orientation="vertical" width="100%" height="100%" columns="*"
          rows="*,auto,auto">
          <StackLayout col="0" row="0"
           backgroundColor="#FFFFFF" >
            <ScrollView orientation="vertical">
 <StackLayout col="0" row="0" >

    <StackLayout >
      <GridLayout height="140">
        <Carousel v-if="content" height="100%" width="100%" pageChanged="myChangeEvent" pageTapped="mySelectedEvent" indicatorColor="red" finite="true" bounce="false" showIndicator="true" verticalAlignment="top"        android:indicatorAnimation="swap" color="white">
        <CarouselItem @loaded="loaded"  id="slide1" v-for="image in content.carusel" >
              <Image  (tap)="onButtonTap()" :src="image.src"></Image>
            </CarouselItem>  <!--- -->

        </Carousel>

             </GridLayout>
        </StackLayout>

        <GridLayout columns="*,*,*,*" rows="60">
          <Button text="Мужские" row="0" fontSize="13" col="0" margin="2" padding="5" @tap="showCatalog('?category=muzhskie_sumki','Мужские сумки',true)" />
          <Button text="Женские" row="0"  fontSize="13"  col="1" margin="2" padding="5" @tap="showCatalog('?category=zhenskie_sumki','Женские сумки',true)"  />
          <Button text="Аксессуары" row="0"  fontSize="13"  col="2" margin="2" @tap="showCatalog('?category=accessories','Аксессуары')" padding="5"   />
          <Button text="Акции" row="0" col="3"  fontSize="13"  margin="2" @tap="showCatalog('&type=sale','Акции')" color="red" padding="5"  />
        </GridLayout>


        <ScrollView orientation="horizontal">
      <StackLayout  orientation="horizontal">



      </StackLayout></ScrollView>

        <!--menu-->
        <StackLayout marginTop="10" marginBottom="10" orientation="horizontal">

          <GridLayout columns="*,*,*,*,*" rows="90,90">
            <StackLayout row="0" col="0" @tap="showCatalog('','Каталог',true)">
              <SVGView  height="60%" src="~/assets/images/Group 81.svg"   />
              <Label   paddingLeft="10" fontSize="14" color="#000000" text="Каталог"></Label>
            </StackLayout>
            <StackLayout @tap="showCatalog('?&price=[0,10000]&size=shoper','Шоперы')"  row="0" col="1" >
              <SVGView height="60%" src="~/assets/images/Group 64.svg"   />
              <Label  paddingLeft="10" fontSize="14" color="#000000" text="Шоперы"></Label>
                </StackLayout>
        <StackLayout @tap="showCatalog('?&price=[0,10000]&size=middle','Повседневные')"row="0" col="2" >
  <SVGView height="60%" src="~/assets/images/Group 66.svg"   />
  <Label  paddingLeft="10" fontSize="14" color="#000000" text="Повседнев.."></Label>
          </StackLayout >
              <StackLayout @tap="showCatalog('?&price=[0,10000]&size=rukzak','Рюкзаки')" row="0" col="3">
  <SVGView  height="60%" src="~/assets/images/Group 65.svg"   />
  <Label   paddingLeft="10" fontSize="14" color="#000000" text="Рюкзаки"></Label>

              </StackLayout >
                <StackLayout @tap="showCatalog('?&price=[0,10000]&size=hobo','Хобо')" row="0" col="4" >
<SVGView height="60%" src="~/assets/images/Group 63.svg"   />
  <Label  paddingLeft="10" fontSize="14" color="#000000" text="Хобо"></Label>
                </StackLayout >
                  <StackLayout @tap="showCatalog('?&price=[0,10000]&size=crosmen','На плечо')" row="1" col="0" >
                      <SVGView  height="60%" src="~/assets/images/Group 70.svg"   />
                      <Label row="3" col="0" paddingLeft="10" fontSize="14" color="#000000" text="На плечо"></Label>
                    </StackLayout >
            <StackLayout @tap="showCatalog('?&price=[0,10000]&size=barset','Барсетки')" row="1" col="1">
              <SVGView  height="60%" src="~/assets/images/Group 69.svg"   />
              <Label   paddingLeft="10" fontSize="14" color="#000000" text="Барсетки"></Label>
            </StackLayout >

              <StackLayout @tap="showCatalog('?&price=[0,10000]&size=baguette','Багеты')" row="1" col="2" >
  <SVGView  height="60%" src="~/assets/images/Group 67.svg"   />
  <Label  paddingLeft="10" fontSize="14" color="#000000" text="Багет"></Label>
                </StackLayout >


          <StackLayout  @tap="showCatalog('?&price=[0,10000]&size=port','Портфели')" row="1" col="3">
            <SVGView height="60%" src="~/assets/images/Group 68.svg"   />
                  <Label row="3" col="3"  paddingLeft="10" fontSize="14" color="#000000" text="Портфели"></Label>
           </StackLayout >

              <StackLayout orientation="vertical" @tap="showCatalog('?&price=[0,10000]&size=crossbody','Кросс-боди')" row="1" col="4" >
<SVGView  height="60%" src="~/assets/images/Group 62.svg"   />
  <Label  paddingLeft="10" fontSize="14" color="#000000" text="Кросс-боди"></Label>
              </StackLayout >















</GridLayout>



            </StackLayout>

  <StackLayout marginTop="20" marginBottom="10">
        <GridLayout columns="auto,*,auto" rows="auto">
                           <Label col="0" row="0" class="bg red"
                               paddingLeft="10" fontSize="14" color="white"
                               text="Акции"></Label>

                      <!--     <Label col="2" row="0" class="font-weight-bold"
                               marginRight="20" fontSize="14" color="#8d8d8d"
                               text="Посмотреть все (146)"></Label>-->
                       </GridLayout>
                       <StackLayout>
                         <ScrollView v-if="content"  orientation="horizontal">
                                         <StackLayout  orientation="horizontal">
                                             <StackLayout width="120" margin="10" v-for="item in content.sale">
                                                <AbsoluteLayout  >

                                               <StackLayout  @tap="showDetail(item.id)" class="album-image" height="200"
                                                   width="120" :backgroundImage="item.src"
                                                   borderRadius="5">
                                               </StackLayout>
                                               <Label left="85" top="165" @tap="addWhislist(item.id,item.category,item.title,item.price,1,item.src)" textWrap="true" class="favorite-img" margin="4" >
                                                   <FormattedString >
                                                     <Span fontSize="20"  class="mdi" :color="colorFav(item.id)"  :text="'favorite' | fonticon" />
                                                 </FormattedString>
                                               </Label>
                                             </AbsoluteLayout>

                                            <Label v-if="item.availability==1" fontSize="12" class="font-weight-bold"
                                                   color="#28a745" text="в наличии"></Label>
                                                   <Label v-else fontSize="12" class="font-weight-bold"
                                                          color="#db1010" text="нет в наличии"></Label>


                                                 <Label fontSize="14" class="font-weight-bold"
                                                     color="red" :text="item.price+' руб.'"></Label>
                                                 <Label fontSize="14" color="#999999" :text="item.title"></Label>
                                                   <Button width="100%" class="ElborsoButton" text="В корзину" @tap="addTodo(item.id,item.category,item.title,item.price,1,item.src)" />
                                             </StackLayout>
                                         </StackLayout>
                                     </ScrollView>
                         </StackLayout>
  </StackLayout>
  <StackLayout marginTop="20" marginBottom="10">
        <GridLayout columns="auto,*,auto" rows="auto">
                <Label col="0" row="0" class="bg green"
                    paddingLeft="10" fontSize="14" color="white"
                    text="Хит продаж"></Label>
                      <!--     <Label col="2" row="0" class="font-weight-bold"
                               marginRight="20" fontSize="14" color="#8d8d8d"
                               text="Посмотреть все (146)"></Label>-->
                       </GridLayout>
                       <StackLayout>
                         <ScrollView orientation="horizontal">
                                         <StackLayout v-if="content" orientation="horizontal">
                                             <StackLayout width="120"  margin="10" v-for="item in content.hits">

                                                 <AbsoluteLayout >
                                               <StackLayout class="album-image" height="200"
                                                   width="120" :backgroundImage="item.src"
                                                   @tap="showDetail(item.id)"
                                                   borderRadius="5">
                                               </StackLayout>
                                               <Label left="85" top="165" @tap="addWhislist(item.id,item.category,item.title,item.price,1,item.src)" textWrap="true" class="favorite-img" margin="4" >
                                                   <FormattedString>
                                                     <Span fontSize="20" class="mdi" :color="colorFav(item.id)"  :text="'favorite' | fonticon" />
                                                 </FormattedString>
                                               </Label>
                                             </AbsoluteLayout>

                                               <Label v-if="item.availability==1" fontSize="12" class="font-weight-bold"
                                                      color="#28a745" text="в наличии"></Label>
                                                      <Label v-else fontSize="12" class="font-weight-bold"
                                                             color="#db1010" text="нет в наличии"></Label>
                                                 <Label fontSize="14" class="font-weight-bold"
                                                     color="red" :text="item.price+' руб.'"></Label>
                                                 <Label fontSize="14" color="#999999" :text="item.title"></Label>
                                                   <Button width="100%" class="ElborsoButton" text="В корзину" @tap="addTodo(item.id,item.category,item.title,item.price,1,item.src)" />
                                             </StackLayout>
                                         </StackLayout>
                                     </ScrollView>
                         </StackLayout>
  </StackLayout>


             </StackLayout>

           </ScrollView>

               </StackLayout>
               <ActivityIndicator  rowSpan="3" :busy="processing"></ActivityIndicator>
           <StackLayout col="0" row="2"
             class="text-center">
            <GridLayout rows="*" columns="*,*,*,*,*">
                <Label row="0" color="#db1010" col="0" textWrap="true" class="text-center">
                    <FormattedString>
                      <Span class="mdi"   :text="'home' | fonticon" />
                      <Span fontSize="10" text="\n Главная"  />
                  </FormattedString>
               </Label>
                <Label row="0" col="1" @tap="showSearch()" textWrap="true" class="text-center">
                    <FormattedString>
                      <Span class="mdi"   :text="'search' | fonticon" />
                      <Span fontSize="10" text="\n Поиск"  />
                  </FormattedString>
                </Label>
                  <Label row="0" col="2" @tap="showCart()" textWrap="true" class="text-center">
                      <FormattedString>
                        <Span class="mdi"   :text="'shopping_cart' | fonticon" />
                      <Span fontSize="10" :text="'\n Корзина('+count+')'"  />
                    </FormattedString>
                </Label>
                <Label row="0" col="3" @tap="showFavorite()" textWrap="true" class="text-center">
                    <FormattedString>
                      <Span class="mdi"   :text="'favorite' | fonticon" />
                      <Span fontSize="10" :text="'\n Избранное('+countWishlist+')'" />
                  </FormattedString>
                </Label>
                <Label row="0" col="4" @tap="showLogin()" textWrap="true" class="text-center">
                    <FormattedString>
                      <Span class="mdi"   :text="'account_circle' | fonticon" />
                      <Span fontSize="10" text="\n Профиль"  />
                  </FormattedString>
               </Label>
            </GridLayout>
         </StackLayout>

    </GridLayout>
    </Page>
</template>

<script>
import axios from 'axios'
const carousel = require('nativescript-carousel');
import { Platform } from '@nativescript/core';
import Catalog from './Catalog'
import Cart from './Cart'
  import Order from './Order'
import Detail from './Detail'
import Search from './Search'
import Favorite from './Favorite'
import Login from './Login'
  export default {
    data() {
       return {
         content: null,
         processing: true
        };
     },
    computed: {
      count() {
        let coun=0;
        for (let i = 0; i < this.$store.state.list.length; i++) {
          coun +=  this.$store.state.list[i].count
          }
            return coun;
      },
      countWishlist() {
        let coun=0;
        for (let i = 0; i < this.$store.state.wishlist.length; i++) {
          coun +=  this.$store.state.wishlist[i].count
          }
            return coun;
      }
    },

    methods: {
      showLogin(){
        this.$navigateTo(Login);
      },
      colorFav(id){
        //console.log(id)
        let search = id;
        let cityId = this.$store.state.wishlist.findIndex(city => city.id === search)

        if(cityId!=-1){
          return '#f20d0d';
        }else{
          return 'black';
        }
      },
      addWhislist (id,category,title,price,count,src) {
        let search = id;
        let cityId = this.$store.state.wishlist.findIndex(city => city.id === search)
        if(cityId!=-1){
      //   this.color='black'
      //   this.stroke='black'
        let todo=id
         this.$store.commit('removeWishlist', {todo})

        }else{
        //  this.color='#f20d0d'
      //    this.stroke='#f20d0d'
          this.$store.commit('addWishlist', {id,category,title,price,count,src})

        }

      },
      addTodo (id,category,title,price,count,src) {
        this.$store.commit('add', {id,category,title,price,count,src})
      },
      checkToken() {
         this.$store.commit("loadFromStorage");
       },
       showFavorite() {
           this.$navigateTo(Favorite);
       },
      showDetail(id) {
          this.$navigateTo(Detail, {
              props: {
                 id: id,
               }
          });
      },
            showCatalog(param,title,scroll=false) {
              this.processing = true;
                this.$navigateTo(Catalog, {
                  props: {
                     param: param,
                     title: title,
                     scrollparam: scroll
                   }
                });

            },
            loaded() {
           this.processing = false
             },
             showSearch(){
               this.$navigateTo(Search);
             },
            showCart() {
                this.$navigateTo(Cart);
            },

            showOrder(id,sum) {
                this.$navigateTo(Order, {
                    animated: true,
                  /*  transition: {
                        name: "slideLeft",
                        duration: 250,
                        curve: "easeIn"
                    }*/
                    props: {
                       id: id,
                       sum: sum
                     }
                });
            },
        },
    mounted() {
     axios
       .get('https://api.elborso.ru/index')
       .then(response => ( this.content = response.data, this.processing = false));

   }
  };
</script>

<style scoped lang="scss">
    @import '@nativescript/theme/scss/variables/blue';

    // Custom styles
    .fas {
        @include colorize($color: accent);
    }

    .info {
        font-size: 20;
        horizontal-align: center;
        vertical-align: center;
    }
    .album-image{
       background-size: cover;
    }
    .baner{
      min-height: 170px;
    }


</style>
