<template>
  <Page @loaded="authComplite">

    <ActionBar  flat="true" >
<GridLayout columns="1*, 10*" rows="70" margin="auto">
  <SVGView height="80" marginBottom="10"  row="0"  col="0" width="30" src="~/assets/images/back.svg"   @tap="$navigateBack()"  />
<StackLayout row="0"  col="1" marginLeft="71">
   <SVGView   height="180px" src="~/assets/images/logo.svg"    />
 </StackLayout>
</GridLayout>
    </ActionBar>
    <GridLayout  width="100%" height="100%" columns="*"
      rows="*,auto">
  <ScrollView  col="0" row="0" orientation="vertical">
<!--Форма входа-->
  <StackLayout v-if="!auth" >
    <StackLayout v-if="!codinter" orientation="vertical" >
      <Label  margin="10"  fontSize="18" class="font-weight-bold"
             :text="'Войти или зарегистрироваться'+token"></Label>


<TextField margin="15"  fontSize="20"  v-model="phone" hint="Номер телефона" keyboardType="phone" maxLength="11"/>
<Button  class="ElborsoButton" row="3" col="0" color="white"  text="Получить код" @tap="handleSubmit()" />

    </StackLayout>
    <StackLayout v-else orientation="vertical" >
      <Label  margin="10"  fontSize="18" class="font-weight-bold"
             text="Войти или зарегистрироваться"></Label>
<TextField margin="15"  fontSize="20"  v-model="cod" hint="Код" keyboardType="phone" maxLength="4"/>
<Button  class="ElborsoButton" row="3" col="0" color="white"  text="Отправить код" @tap="handleSubmitCod()" />
    </StackLayout>
</StackLayout>

<!--аккаунт-->
<StackLayout v-else>
  <Label col="0" row="0"  margin="10"  fontSize="18" class="font-weight-bold"
         :text="'Кабинет ('+accaunt.phone+')'"></Label>
<GridLayout columns="*" rows="*,*,*" marginBottom="10" padding="10" background="#e8e8e8">

  <StackLayout col="0" row="1">
<SVGView marginLeft="10" (tap)="onButtonTap()" height="20%" width="20%" src="~/assets/images/comment.svg"   />

</StackLayout>
<Button col="0" row="2"  width="30%" text="Выйти"  margin="2" @tap="logout()" padding="5"  />
   </GridLayout>

   <GridLayout columns="*,*,*,*" rows="60">
     <Button text="Мои заказы" row="0" class="" col="0" margin="2" padding="5"  color="red" @tap="" />
     <Button text="Бонусы" row="0" col="1" margin="2" padding="5" @tap=""  />
     <Button text="Уведом..." row="0" col="2" margin="2" @tap="" padding="5"   />
     <Button text="Сертификат" row="0" col="3" margin="2" @tap="" padding="5"  />
   </GridLayout>

   <StackLayout v-for="(order,index) in accaunt.orders" :key="index" margin="10" >
            <GridLayout background="#e2e5e8" columns="*" rows="60,auto,60" borderRadius="5">
              <Label row="0" class="" col="0" margin="10"  fontSize="18" class="font-weight-bold"
                     :text="order.id"></Label>

                   <StackLayout col="0" row="1" background="#e9ecef">


                     <GridLayout  margin="10" columns="auto,*" rows="*" v-for="(once,index) in order.order" :key="index">

                       <StackLayout col="0" row="0" @tap="showDetail(once.id)"  borderRadius="5" height="120" class="album-image"
                           width="90" :backgroundImage="once.src">
                       </StackLayout>

                            <StackLayout col="1" row="0">
                            <Label  margin="10"  fontSize="18" class="font-weight-bold"
                                 :text="once.title"></Label>
                             <Label  margin="10"  fontSize="18"
                                  :text="once.price+' руб.'"></Label>
                                  <Label  margin="10"  fontSize="18"
                                       :text="once.count+' шт.'"></Label>
                            </StackLayout>



                         </GridLayout>




                     </StackLayout>

                     <Label class="" row="2" col="0" margin="10"  fontSize="18" class="font-weight-bold"
                            :text="'Сумма: '+order.sum+' руб.'"></Label>

            </GridLayout>
   </StackLayout>

</StackLayout>


</ScrollView>
 <StackLayout col="0" row="1"
  backgroundColor="#FFFFFF" >
  <GridLayout rows="*" columns="*,*,*,*,*" class="text-center">

    <Label row="0"  col="0" @tap="showHome()"  textWrap="true" class="text-center">
        <FormattedString>
          <Span class="mdi"   :text="'home' | fonticon" />
          <Span fontSize="10" text="\n Главная"  />
      </FormattedString>
   </Label>
    <Label row="0" col="1" @tap="showSearch()" textWrap="true" class="text-center">
        <FormattedString>
          <Span class="mdi"   :text="'search' | fonticon" />
          <Span fontSize="10" text="\n Поиск"  />
      </FormattedString>
    </Label>
      <Label row="0" col="2" @tap="showCart()" textWrap="true" class="text-center">
          <FormattedString>
            <Span class="mdi"   :text="'shopping_cart' | fonticon" />
          <Span fontSize="10" :text="'\n Корзина('+count+')'"  />
        </FormattedString>
    </Label>
    <Label row="0" col="3" @tap="showFavorite()"  textWrap="true" class="text-center">
        <FormattedString>
          <Span class="mdi"   :text="'favorite' | fonticon" />
          <Span fontSize="10" :text="'\n Избранное('+countWishlist+')'"  />
      </FormattedString>
    </Label>
    <Label row="0" col="4"  textWrap="true" class="text-center">
        <FormattedString>
          <Span class="mdi"  color="#db1010" :text="'account_circle' | fonticon" />
          <Span  fontSize="10" text="\n Профиль"  />
      </FormattedString>
   </Label>

  </GridLayout>
</StackLayout>
      </GridLayout>
  </Page>
    </template>
    <script>
    import axios from 'axios'
    import Detail from './Detail'
    import Order from './Order'
    import Adress from './Adress'
    import Home from './Home'
    import Cart from './Cart'
      import Search from './Search'
import Favorite from './Favorite'

      export default {
        data() {
           return {
             catalog: null,
               cod:'',
               phone: '',
               invalid: false,
               selected: '7',
               codinter: false,
               auth: false,
               accaunt:[]
            };
         },
        computed: {
          count() {
            let coun=0;
            for (let i = 0; i < this.$store.state.list.length; i++) {
              coun +=  this.$store.state.list[i].count
              }
                return coun;
          },
          countWishlist() {
            let coun=0;
            for (let i = 0; i < this.$store.state.wishlist.length; i++) {
              coun +=  this.$store.state.wishlist[i].count
              }
                return coun;
          },
              orders() {
               return this.$store.state.wishlist
             },
             token() {
            //   console.log(this.$store.state)
              return this.$store.state.token
            }


        },
        methods: {
          logout(){
            this.$store.commit('removeToken')
            this.auth=false
          },
          authComplite(){
            if(this.$store.state.token.length>0){

              let token =this.$store.state.token
              const accaunt =   axios.get(`https://api.elborso.ru/accaunt?&token=`+token)
              .then(response => {
              this.accaunt=response.data
              this.auth=true
              //console.log(response)
               })
            }
          },
          handleSubmit() {
          //  console.log(this.phone.length)
            // Exit when the form isn't valid
          if(this.phone.length!=11||this.phone[0]=='+' ){
                this.invalid=true
              }else{
              //  var phone =this.phone.replace(/[^\d]/g, '')
                var phonecod = this.phone.substring(1);
        //  console.log(phonecod)
                var client={"phone":this.selected+phonecod}
                const mountains =   axios.post(`https://api.elborso.ru/registration`,client)
                .then(response => {
                this.codinter=true
              //    console.log(response)
              })/**/
          }
        },
        handleSubmitCod() {
        //  var phone =this.phone.replace(/[^\d]/g, '')
          var phonecod = this.phone.substring(1);
    //console.log(phonecod)
          var cod = {"cod": this.cod, "id": this.selected+phonecod}

       const mountains =   axios.post(`https://api.elborso.ru/authentication`,cod)
          .then(response => {
              this.codinter=false
              this.$store.commit('addToken', response.data)
              this.auth=true
              //this.$emit('change', true)
            //  console.log(response)
          //    this.$router.push({ path: '/accaunt'})
          // catalog.push(response);
        })  /* */
      },
      showFavorite() {
          this.$navigateTo(Favorite);
      },
        showSearch(){
          this.$navigateTo(Search);
        },
        showCart() {
            this.$navigateTo(Cart);
        },

        showHome() {
            this.$navigateTo(Home);
        },
        showDetail(id) {
            this.$navigateTo(Detail, {
                props: {
                   id: id,
                 }
            });
        }

            }

      };
    </script>

    <style scoped lang="scss">


        .album-image{
           background-size: cover;
        }

    </style>
