<template>
	<StackLayout class="p-20" backgroundColor="white">
		<Label class="h2 text-center" text="Запомнить данные?" />
    <TextView editable="false">
    <FormattedString>
    <Span fontSize="14" text="Данные сохраняться на Вашем устройстве для автоматической подстановки" />
    </FormattedString>
    </TextView>
    	<Button class="ElborsoButton" text="Запомнить" @tap="changeItem('Да')" />
    <Button class="btn btn-outline" text="Не запоминать" @tap="changeItem('Нет')" />

	</StackLayout>
</template>

<script>
export default {
    data() {
        return {};
    },
      methods: {
        changeItem: function(change) {
        //  console.log(change)
         //this.$emit('change', change)
         this.$modal.close(change)
       }
      }
};
</script>

<style>
</style>
