<template>
  <Page>

    <ActionBar  flat="true" >
<GridLayout columns="1*, 10*" rows="70" margin="auto">

<StackLayout row="0"  col="1" marginLeft="71">
   <SVGView   height="180px" src="~/assets/images/logo.svg"    />
 </StackLayout>
</GridLayout>
    </ActionBar>
    <GridLayout  width="100%" height="100%" columns="*"
      rows="auto">
 <StackLayout col="0" row="0">
   <Label fontSize="25" marginLeft="10" marginTop="10" class="font-weight-bold text-center" color="black" text="Спасибо за заказ!"></Label>
 <StackLayout >
   <Label fontSize="20" marginLeft="10" marginTop="50" class="text-center" color="black" text="Ваш заказ принят, номер заказа:"></Label>
 <Label fontSize="40"  marginTop="10" class="text-center" color="black" :text="order.data"></Label>
 <Label fontSize="20"  marginLeft="10" marginTop="10" class="text-center" color="black" :text="'Сумма заказа: '+sum+' руб.'"></Label>

<TextView editable="false" class="text-center">
<FormattedString>
<Span fontSize="14" text="В ближайшее время с Вами свяжется менеджер, для подтверждения заказа" />
</FormattedString>
</TextView>
 </StackLayout>

 <Button @tap="showHome()" class="ElborsoButton" marginTop="30" color="white"  text="Понятно"  />
 </StackLayout>
      </GridLayout>
  </Page>
    </template>
    <script>
import Home from './Home'

      export default {
          props: ['order','sum'],
        data() {
           return {
             catalog: null,
             textFieldValue: '2',
             name: '',
             adress: '',
             phone: '',
             isButtonDisabled: false
            };
         },
        computed: {


        },
        methods: {
          showHome() {
              this.$navigateTo(Home);  },
            },

        mounted() {

       }
      };
    </script>

    <style scoped lang="scss">


        .album-image{
           background-size: cover;
        }

    </style>
