<template>
  <Page>

    <ActionBar>
      <GridLayout columns="1*, 10*" rows="60" margin="auto">
        <SVGView  height="80" width="30" marginLeft="2" row="0"  col="0"  src="~/assets/images/back.svg"   @tap="$navigateBack()"  />
      <StackLayout marginTop="5" row="0"  col="1" >
         <SearchBar  class="search" borderRadius="10" font-size="20"  hint="Поиск" v-model="searchQuery"  @textChange="onTextChanged"/>
       </StackLayout>
      <!--  <SVGView v-if="adressList.length>0" height="70" row="0"  col="2" width="30" src="~/assets/images/done_black_24dp.svg"   @tap="select()"  />-->
      </GridLayout>
    </ActionBar>



        <WrapLayout  v-if="adressList.length==0" >
             <Button  v-for="(item,index) in searchwords" class="ElborsoButton2" :text="item" @tap="onItemTap(item)" />
        </WrapLayout >



     <GridLayout v-if="adressList.length>0">





    <ListView    col="0" row="0"  v-for="(item,index) in adressList" :key="index" height="97%" width="100%">
  <v-template >
    <GridLayout  @tap="showDetail(item.id,item.title)" class="list-group-item" rows="*" columns="auto, *">
          <Image row="0" col="0" :src="item.src" class="thumb" height="115" width="70" borderRadius="5"/>
          <StackLayout row="0" col="1" orientation="vertical"  >
              <Label :text="item.title" />
                        <Label fontSize="14" class="font-weight-bold"
                           :text="item.price+' руб.'"></Label>
                            <Label fontSize="12" v-if="item.priceOld"  textDecoration="line-through"  class="font-weight-bold old-price"
                                color="red" :text="item.priceOld+' руб.'"></Label>
                                <Label fontSize="10"
                                   :text="'id: '+item.id"></Label>
                                   <Label fontSize="10"
                                      :text="'art: '+item.art"></Label>
                  </StackLayout>


        </GridLayout>

  </v-template>
</ListView>

</GridLayout><!-- -->

  </Page>
    </template>

    <script>
      import axios from 'axios'
      import Detail from './Detail'
    export default {
      data() {
         return {
           content:[],
           product: null,
           items:[],
           searchQuery:'',
           adressList: [],

          };
       },
      computed: {
        searchwords() {
      //    console.log(this.$store.state.searchwords)
         return this.$store.state.searchwords
       }
      },

      methods: {
        showDetail(id,val) {
          this.$store.commit('addSearch', {val})

            this.$navigateTo(Detail, {
                props: {
                   id: id,
                 }
            });
        },
    /*    select(){
          let adress = this.searchQuery
          this.$store.commit('addAdress', {adress})

          this.$navigateBack();
        },*/
        onItemTap(val){
        //    console.log(val)
          this.searchQuery=val
        },

        onTextChanged(){
        //  console.log(this.searchQuery)
let val = this.searchQuery
//console.log(val)
if(val.length>0){
  const accaunt =   axios.get(`https://api.elborso.ru/catalog?search=`+val.toLowerCase())
  .then(response => {

this.adressList=response.data
   })
 .catch(error => {})
}else{
  this.adressList=[]
}




        }
      },
      mounted() {
       axios
         .get('https://api.elborso.ru/index')
         .then(response => ( this.content = response.data));

     }
    };
    </script>


    <style scoped lang="scss">
    </style>
