@import '@nativescript/theme/core';
@import '@nativescript/theme/default';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon class
.fab {
  font-family: 'Font Awesome 5 Brands', 'fa-brands-400';
  font-weight: 400;
}

.fas {
  font-family: 'Font Awesome 5 Free', 'fa-solid-900';
  font-weight: 900;
}

.far {
  font-family: 'Font Awesome 5 Free', 'fa-regular-400';
  font-weight: 400;
}
.ElborsoButton{
  background-color: black;
  color: white;
}
.ElborsoButton2{
  background-color: #e9ecef;
  color: #212529;
}
.hit{
  background: green;
}
.new{
  background: #db1010;
}
.badge{
    height: 60px;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
}
.search{
  background: #eee;
  margin-left: 5;
  margin-right: 5;
}
.active{
  fill: red;
  color: red;
}
.mdi {
  font-family: "Material Icons", "MaterialIcons-Regular";
  font-size: 25;
}
.red{
  background: #db1010;
}
.green{
  background: #28a745;
}
.bg{
  padding-left: 10px;
  padding-right: 25px;
  margin-left: 25px;
  color: #f8f9fa;
  text-align: center;
  border-radius: 15px;
}
.favorite-img{
  margin-right: 10;
  margin-bottom: 10;
}
